# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
*.tsbuildinfo

# Debug
npm-debug.log*

# Local env
.env*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Temp files
screenshot.js
screenshot.png
